@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<p>
  <strong>Source Code:</strong>
  <a href="https://github.com/beetleman/asp.net_core_dokerized" target="blank">
    asp.net_core_dokerized
  </a>
</p>

<address>
    <strong>Author:</strong> <a href="mailto:mateusz.probachta@gmail.com">mateusz.probachta@gmail.com</a>
</address>
